@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b02b0;
  padding: 10px;
  color: white;
  gap: 25px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo .org-name {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.MenuLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MenuLinks a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.MenuLinks a:hover,
.MenuLinks a.active {
  background-color: #a29dff;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  padding: 0;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
}

footer {
  background-color: #0b02b0;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.button {
  background-color: #ffffff;
  border: none;
  color: rgb(16, 5, 138);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 { border-radius: 2px; }
.button2 { border-radius: 4px; }
.button3 { border-radius: 8px; }
.button4 { border-radius: 12px; }
.button5 { border-radius: 50%; }

.bg-container {
  position: relative;
  background-image: url('images/background.jpg');
  background-size: cover;
}
.bg-container {
  position: relative;
  background-image: url('images/background2.jpg');
  background-size: cover;
}
.bg-container {
  position: relative;
  background-image: url('images/Services-background.jpg');
  background-size: cover;
}

.bg-container::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* 50% white overlay */
  z-index: 1;
}

@media (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }

  .hamburger {
    display: flex;
  }

  .MenuLinks {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .MenuLinks.show {
    display: flex;
  }
}